
.form__container{
    
    display: none;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: .5rem;
    border: 2px solid var(--marrom-avermelhado);
    padding: .7rem;
    border-radius: 5px;
    background-color: var(--marrom);
    color: var(--marrom-claro);
    box-shadow: 5px 5px 5px var(--marrom-sombra);
}

.form__container-ativo{
    display: flex;
}


.form__label{
    text-align: left;
    margin-top: 1em;
    
}
.form__input{

    width: 80%;    
    padding: .5rem;
    border-radius: 5px;
    border: 2px solid var(--marrom-avermelhado);
}
.form__input[type=date]{
    width: 50%;
}

.form__button-container{
   margin-top: 1rem;
    text-align: center;
}

.form__button{
    width: 20%;
    margin-right:1rem ;
    min-width: 100px;
    border: solid var(--marrom-claro) 2px;
    padding: .5rem;
  
    background-color: var(--marrom-claro);
    color: var(--marrom-avermelhado);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}
.form__button:hover{
    background-color: var(--marrom-avermelhado);
    color: var(--marrom-claro);
    
}


@media screen and (min-width: 1024px) {
.form__container{
    width: 50%;

    margin: 1rem auto;
    display: none;
    grid-template-columns: .5fr 2fr;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
    border: 2px solid var(--marrom-avermelhado);
    padding: 1.5rem;
    border-radius: 5px;
    background-color: var(--marrom);
    color: var(--marrom-claro);

}

.form__container-ativo{
    display: grid;
}

.form__label{
    text-align: right;
    margin-top: 0;
    
}

.form__button-container{
    grid-column-end: span 2;
    text-align: center;
}




}
