.header{
    width: 90%;
    margin: 1rem auto;
    
}

.header__container{
   
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    background-color: var( --marrom);
    color: var( --marrom-claro);
    margin-bottom: 2rem;
    border-radius: 5px ;
    box-shadow: 5px 5px 5px var(--marrom-sombra);
}

.header__titulo-principal{
    color: var(--marrom-avermelhado);
    -webkit-text-stroke:.5px var(--marrom-claro);
   
    
}